<html>

<head>
    <title>Web authentication</title>
</head>

<body>
       
    <h1>Welcome: <%= email %> </h1>

      
    <form action="/logout" method="post">
        <input  type="submit" value="LogOut">
    </form>
</body>

</html>
