<html>

<head>
    <title>Web authentication</title>
</head>

<body>
    <h1>Web authentication</h1>
    <form action="/admin" method="post">
        username <input type="text" name="username"><br>
        password <input type="password" name="password"><br><br>
        <input  type="submit" value="LogIn">
    </form>
    

    
</body>

</html>
