<html>

<head>
    <title>Web authentication</title>
</head>

<body>
    <h1>Please login first</h1>

    <form action="/" method="post">
        <input  type="submit" value="logIn">
    </form>
</body>

</html>