<html>
    <style>
        .block {
            border: 1px black;
            padding: 20px;
        }
    </style>
    <body>
        <div class="block">
                <h1>Hello <%= data.email %></h1>
                <a href="/logout"><button>logout</button></a>
        </div>
        
    </body>
  </html>