<html>

<head>
    <title>Web authentication</title>
</head>

<body>
    <h1>Web authentication</h1>
    <form action="/" method="post">
        username <input type="text" name="username"><br>
        password <input type="password" name="password"><br>
        <input type="submit" value="LogIn">
    </form>
</body>

</html>
